[include]
   path = ~/.config/git/themes.gitconfig
   path = ~/.config/.gitconfig_local

[core]
   pager = delta

[interactive]
   diffFilter = delta --color-only

[delta]
   navigate = true  # use n and N to move between diff sections
   features = woolly-mammoth 
   side-by-side = true

# woolly-mammoth
# calochortus-lyallii
# mantis-shrimp-lite

[merge]
   conflictstyle = diff3

[diff]
   colorMoved = default
[credential]
	helper = cache
